<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:fitsSystemWindows="true">

    <application
        android:name=".firebase.LoginMejorAppTGrupoB"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/principal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MejorAppTGrupoB"
        tools:targetApi="31">
        <activity
            android:name=".screens.resultsScreen.ResultsActivity"
            android:exported="false"
            android:label="@string/title_activity_results"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.testScreen.FinalActivity"
            android:exported="false"
            android:label="@string/title_activity_final"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity android:name=".screens.adviceScreen.AdviceActivity" />
        <activity
            android:name=".screens.testScreen.TestActivity5"
            android:exported="false"
            android:label="@string/title_activity_test5"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.testScreen.TestActivity4"
            android:exported="false"
            android:label="@string/title_activity_test4"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.testScreen.TestActivity3"
            android:exported="false"
            android:label="@string/title_activity_test3"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.testScreen.TestActivity2"
            android:exported="false"
            android:label="@string/title_activity_test2"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.userGuideScreen.UserGuideActivity"
            android:exported="false"
            android:label="@string/title_activity_user_guide"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.loginScreen.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.firstScreen.FirstActivity"
            android:exported="false"
            android:label="@string/title_activity_first"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.infoScreen.InfoActivity"
            android:exported="false"
            android:label="@string/title_activity_info"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.testScreen.TestActivity"
            android:exported="false"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.MejorAppTGrupoB" />
        <activity
            android:name=".screens.registerScreen.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.MejorAppTGrupoB"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MejorAppTGrupoB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>